<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>App</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <header>
      <h1>User panel</h1>
    </header>

    {{{ body }}}

    <footer>
      <a href="/user/logout">logout</a>
      <p>All rights reserved<p>
    </footer>

  </body>
</html>
